<!-- Navigation Menu -->
<ul class="nav-list">
  <li class="nav-section">
    <div class="nav-section-title">Getting Started</div>
    <ul>
      <li><a href="{{ site.baseurl }}/getting-started/index/" class="nav-link">Overview</a></li>
      <li><a href="{{ site.baseurl }}/getting-started/installation/" class="nav-link">Installation</a></li>
      <li><a href="{{ site.baseurl }}/getting-started/first-tool/" class="nav-link">Your First Tool</a></li>
    </ul>
  </li>
  
  <li class="nav-section">
    <div class="nav-section-title">Features</div>
    <ul>
      <li><a href="{{ site.baseurl }}/features/lifecycle-hooks/" class="nav-link">Lifecycle Hooks</a></li>
      <li><a href="{{ site.baseurl }}/features/resource-subscriptions/" class="nav-link">Resource Subscriptions</a></li>
      <li><a href="{{ site.baseurl }}/features/authorization/" class="nav-link">Authorization</a></li>
      <li><a href="{{ site.baseurl }}/features/notifications/" class="nav-link">Notifications</a></li>
      <li><a href="{{ site.baseurl }}/features/pagination/" class="nav-link">Pagination</a></li>
    </ul>
  </li>
  
  <li class="nav-section">
    <div class="nav-section-title">API Reference</div>
    <ul>
      <li><a href="{{ site.baseurl }}/api/tools/" class="nav-link">Tools API</a></li>
      <li><a href="{{ site.baseurl }}/api/typed-jsonrpc/" class="nav-link">TypedJsonRpc&lt;T&gt;</a></li>
      <li><a href="{{ site.baseurl }}/api/prompts/" class="nav-link">Prompts API</a></li>
      <li><a href="{{ site.baseurl }}/api/resources/" class="nav-link">Resources API</a></li>
      <li><a href="{{ site.baseurl }}/api/lifecycle-hooks/" class="nav-link">Lifecycle Hooks API</a></li>
    </ul>
  </li>
  
  <li class="nav-section">
    <div class="nav-section-title">Examples</div>
    <ul>
      <li><a href="{{ site.baseurl }}/examples/calculator/" class="nav-link">Calculator Server</a></li>
      <li><a href="{{ site.baseurl }}/examples/datetime/" class="nav-link">DateTime Server</a></li>
      <li><a href="{{ site.baseurl }}/examples/metrics/" class="nav-link">Metrics Server</a></li>
      <li><a href="{{ site.baseurl }}/examples/resource/" class="nav-link">Resource Server</a></li>
      <li><a href="{{ site.baseurl }}/examples/authorization/" class="nav-link">Authorization Server</a></li>
    </ul>
  </li>
</ul>
